@{
    ViewBag.Title = "Geschichte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


            
    <h1>
        Die Geschichte des SAK</h1>
    <h2>
        1.) Vorgeschichte</h2>
    <p>
        Die Vorgeschichte des S.A.K ist eine sehr lange Geschichte, da sich die meisten
        Gründungsmitglieder schon seit mehreren Jahren kennen. Wir gingen auch schon damals
        unserem Hobby, dem Fußballspielen nach, jedoch nicht regelmäßig. Da wir ausschließlich
        nur untereinander spielten und oft zu wenige Leute für ein „ordentliches“ Spielchen
        waren, wurden Freunde gefragt, ob sie nicht auch einmal mitspielen wollen. Und so
        wurde die Anzahl der Fußballverrückten unter uns quasi verdoppelt. Durch das immer
        regelmäßigere Fußballspielen lernte man sich auch immer besser kennen und es wurden
        auch Aktivitäten abseits des Fußballplatzes gemeinsam unternommen, sodass sich unter
        uns immer mehr Freundschaften gebildet hatten.</p>
    <h2>
        2.) Gründung des Vereins</h2>
    <p>
        <img src="~/Content/images/Geschichte/IMG_0006.jpg" alt="Erste Sitzung">Da wir
        jetzt bei jedem Fußballspielchen immer mehr Leute waren, haben wir uns entschlossen
        einen Verein zu gründen. – FALSCH gedacht, obwohl so wahrscheinlich die meisten
        Vereine gegründet worden sind, verlief die Gründung unseres Vereins ganz anders.
        Wir hatten nie vor einen Verein zu gründen, weil wir sowieso nie daran gedacht haben
        gegen andere Mannschaften zu spielen.</p>
    <p>
        Die Entscheidung zur Gründung unseres Vereins wurde uns quasi von der Stadt Wien
        auferlegt. Da der Winter kam und im Freien das Fußballspielen unmöglich wurde, haben
        wir uns vorgenommen eine Halle zu finden, die erstens kostengünstig ist und zweitens
        die wir regelmäßig einmal pro Woche nutzten können. Private Hallen waren da schnell
        zur Stelle, die hatten jedoch einen schwerwiegenden Nachteil, sie waren sehr teuer.
        Wir wussten, dass das auf Dauer nicht zu finanzieren wäre und suchten weiter. Nach
        einigen Anrufen bei Behörden wurde uns mitgeteilt, dass es kein Problem sei eine
        Halle regelmäßig und kostengünstig zu mieten. Die einzige Voraussetzung die uns
        gestellt wurde, war die Gründung eines Vereins. Und das war der erste Zeitpunkt,
        an dem wir an eine Gründung eines Fußballvereins gedacht haben. Mit der Vorstellung
        einen Verein zu gründen, wuchsen auch die Visionen und Ideen, sodass die Planung
        zur Gründung nicht lange gedauert hat. Bei einigen feuchtfröhlichen Zusammenkünften
        wurden dann konkrete Schritte unternommen, wie zum Beispiel das Ermitteln des Vereinsnamens,
        um die Entstehung unseres „S.A.K“ voranzutreiben. Im Zuge des Verfassens der Statuten
        kamen immer mehr und bessere Ideen auf, um unseren Verein auszubauen und zu verbessern.
        Nach dem Erhalt des Bescheids des Innenministeriums waren wir nun offiziell ein
        Verein. Jedoch einer ohne dem wichtigsten Aushängeschild eines Vereins – den Trikots!</p>
    <h2>
        3.) Die ersten Schritte des „S.A.K“</h2>
    <p>
        <img src="~/Content/images/Geschichte/IMG_0913.jpg" alt="Hallenturnier Fischamend">Wir
        waren jetzt ein Verein und unsere Vorlieben nur untereinander zu spielen waren schon
        längst „komplett veraltet“. Durch die vielen gemeinsamen Stunden die wir durch die
        Gründung verbracht haben, entstanden neue Vorlieben. Wir kamen zu dem Entschluss
        wir wollen Freundschaftsspiele und „sogar“ Turniere spielen. So schnell konnten
        wir gar nicht schauen, standen wir schon in Fischamend auf dem Parkett eines Hallenturniers,
        ohne eigene Vereinsdressen, denn für wichtige Entscheidungen braucht man Zeit und
        die hatten wir nicht - wir wollten spielen und unseren Verein das erste mal vertreten.
        Nach dem ersten Turnier, das wir wie erwartet nicht gewonnen haben, machten wir
        uns an die konkrete Planung unserer Trikots. Nach einer weiteren Zusammenkunft einigten
        wir uns und kauften Dressen, die sich sicher in so mancher Profiliga sehen lassen
        könnten. Nach weiteren erfolgreichen und weniger erfolgreichen Turnieren in der
        Halle konnte man schon erste Fortschritte im fußballerischen Können der Mannschaftsmitglieder
        erkennen, denn die Wettkampfunerfahrenheit war mit Sicherheit unser größtes Manko.
        Als wir dann schon richtig süchtig nach „Wettkämpfen“ waren, wollten wir uns für
        eine Kleinfeldmeisterschaft anmelden. Dieses Vorhaben scheiterte jedoch an der zu
        geringen Anzahl an Mannschaften die an dieser Meisterschaft teilnehmen wollten,
        sodass wir uns entschlossen hatten unser erstes Jahr „nur“ mit Turnieren und Freundschaftsspielen
        zu verbringen.</p>
    <h2>
        4.) Unser erstes Jahr</h2>
    <p>
        <img src="~/Content/images/Geschichte/P6120055.JPG" alt="Erster Turniersieg">Wie
        wahrscheinlich bei den meisten neu gegründeten Klubs war unser erstes Jahr sportlich
        nicht gerade das erfolgreichste Jahr. Obwohl wir bei den ersten Turnieren in der
        Halle immer im schlechteren Mittelfeld gelandet sind, gab es danach auch immer wieder
        frustrierende Turniere, wo man vergeblich auf ein Erfolgserlebnis (Sieg oder Unentschieden)
        gewartet hatte. Die Verbesserung der Mannschaftsleistung von Turnier zu Turnier
        lies den Frust des eher weniger erfolgreichen Abschneidens bei so manchen Turnieren
        vergessen. Bei unseren ersten Kleinfeldturnieren hielt dieser eher erfolglose Trend
        weiter an, wobei immer wieder Achtungserfolge erzielt werden konnten. In unserem
        ersten Jahr haben wir auch unser erstes und bis dato einziges Großfeldmatch absolviert,
        mit einem beachtlichen Ergebnis (3:6 gegen eine eingespielte grossfelderfahrene
        Mannschaft).</p>
    <p>
        Mit der Zeit erkannten wir, dass es für eine Hobbymannschaft nicht nur wichtig ist,
        sportlich aktiv zu sein, sondern dass es mindestens genauso wichtig sei Kontakte
        zu anderen Mannschaften bzw. Veranstaltern von Turnieren zu pflegen. Unser erster
        Kontakt zu einer anderen Hobbymannschaft entstand im Juni 2005. Nach einem packenden
        Freundschaftsspiel, das wir klar verloren hatten, bannte sich ein Kontakt zum ebenfalls
        aus Simmering stammenden FCH 86 an, welcher bis heute noch gepflegt wird. Einige
        nicht weniger packende Derby sollten folgen.</p>
    <p>
        Der 12. Juni 2005 sollte bis heute der erfolgreichste Tag in der SAK Geschichte
        werden. An diesem Tag gelang dem SAK der erste und bis jetzt einzige Turniersieg.
        In einem spannenden Finale sicherten wir uns im Elfmeterschiessen den historischen
        Triumph des Kleinfeldturniersiegers von Inzersdorf.</p>
    <p>
        Ein weiteres Highlight war mit Sicherheit das zweitägige Internationale Kleinfeldturnier
        in Oberösterreich, wo wir unser erstes internationales Spiel gegen eine deutsche
        Mannschaft absolvierten (1:1 Unentschieden). Insgesamt nahmen 45 Mannschaften an
        dem Turnier teil, wobei wir wiederum einen Platz im schlechteren Mittelfeld erobern
        konnten (28.).</p>
    <p>
        Im September 2005 bekamen wir eine Einladung von den Celtic Flodos zu Ihrem Jubiläumsturnier,
        wo es wieder eine Begegnung mit dem FCH 86 gab. In weiterer Folge gab es dann auch
        immer wieder Kontakte mit den Celtic Flodos, wo dann auch im Februar 2006 die ersten
        Freundschaftsspiele in der Halle organisiert wurden.</p>
    <p>
        Alles in allen war das erste Jahr vielleicht sportlich gesehen nicht das erfolgreichste,
        jedoch was viel wichtiger ist, haben wir uns als Mannschaft sportlich und auch im
        Punkto Teamgeist gesteigert, was uns für die kommende Saison Auftrieb geben sollte.</p>
    <h2>
        5.) Die neue Ära der Meisterschaften</h2>
    <p>
        <img src="~/Content/images/Geschichte/CIMG1545.JPG" alt="Kleinfeldmeisterschaft">Nach
        unserem ersten Jahr, in dem wir 20 Turniere bzw. Freundschaftsspiele bestritten
        haben, wollten wir weitere Versuche unternehmen unser eigentliches Ziel zu erreichen,
        nämlich an einer Meisterschaft teilzunehmen. Durch unsere in der Zwischenzeit guten
        Kontakte zu den Celtic Flodos erfuhren wir, dass diese erstmals eine Kleinfeldmeisterschaft
        planen. Natürlich war es für uns selbstverständlich, dass wir da dabei sein mussten.
        Bei dieser sehr gut organisierten Meisterschaft verpassten wir nur knapp am letzen
        Spieltag den dritten Platz und konnten mit unserer Leistung sehr zufrieden sein.</p>
    <p>
        Diese Kleinfeldmeisterschaft war aber nicht nur sportlich gesehen eine Bereicherung
        für uns, sondern auch eine gute Möglichkeit wieder Kontakte zu anderen Hobbymannschaften
        aufzunehmen. Besonders betonen möchten wir hier das freundschaftliche Verhältnis
        zu den Burschen vom Wiener Schmäh, mit denen ebenfalls bis heute ein guter Kontakt
        gepflegt wird.</p>
    <p>
        Da wir von der Meisterschaft so begeistert waren, haben wir beschlossen auch im
        Winter eher weniger auf eintägige Turniere zu setzen als vielmehr unsere zweite
        Meisterschaft (Hallencup) zu absolvieren, welche wieder von den Celtic Flodos organisiert
        wurde. Diesmal haben wir unser Ziel erreicht und wurden Dritter.</p>
    <h2>
        6.) Die Saison ohne Meisterschaft</h2>
    <p>
        Nach dem sportlich erfolgreichen Hallencup 2006/2007 war unsere Lust auf organisierte
        Meisterschaften weiter gestiegen. Eine Meisterschaft war für uns einerseits sportlich
        gesehen reizvoll, da man um erfolgreich zu sein, konstant gute Leistung bringen
        musste, außerdem hatte eine Meisterschaft für uns den angenehmen Nebeneffekt, viele
        Termine im Vorhinein zu wissen und so die Spielerteilnahmen besser koordinieren
        zu können. Da wir mit der Organisation der ersten Meisterschaft der Celtic Flodos
        sehr zufrieden waren, hofften wir auf eine Fortsetzung der Meisterschaft. Zu Beginn
        der Freiluftsaison 2007 wurde von den Flodos auch eine Fortsetzung angekündigt,
        leider wurde dieses Vorhaben aber wegen zu wenigen Anmeldungen kurzfristig abgesagt.
        Das bedeutete leider, dass der SAK die Freiluftsaison 2007 ohne Meisterschaft verbrachte.
        Ohne Meisterschaft war bei den meisten Mitgliedern auch die Motivation geschrumpft,
        sodass in der gesamten Freiluftsaison nur 2 Turniere und 4 Freundschaftsspiele absolviert
        wurden. Positiv in dieser Saison war mit Sicherheit, dass wir neue Mitglieder an
        den Verein binden konnten, die sich später noch zu Leistungsträgern entwickeln sollten.
        Die Hallensaison 2007/2008 fand zwar wieder ohne Meisterschaft statt, jedoch hatten
        sich die Mitglieder geeinigt, diesmal in der Halle nur Turniere spielen zu wollen,
        um dafür dann umso intensiver für die nächste Freiluftsaison nach einer geeigneten
        Meisterschaft zu suchen.</p>
    <h2>
        7.) Der 2. Turniersieg in der Vereinsgeschichte</h2>
    <p>
        Die Hallensaison 2007/2008 war mit Sicherheit die erfolgreichste Saison bis dahin
        in der noch jungen Vereinsgeschichte. Neben guten Ergebnissen in Freundschaftsspielen
        und guten Turnierplatzierungen gab es am 23.02.2008 auch den 2. Turniersieg des
        SAK zu feiern. Nach dem Kleinfeldturniersieg am 12.06.2005 war dies der erste Titel
        in der Halle. Die Hallensaison wurde mit einem Verhältnis von 14/2/5 (S/U/N) und
        65:41 Toren beendet. Dieses Feuer galt es in die neue Freiluftsaison mitzunehmen.</p>
    <h2>
        8.) Der SAK – mehr als nur ein Fußballklub</h2>
    <p>
        Neben den wieder zahlreicheren sportlichen Aktivitäten des SAK im Jahr 2008 wurde
        ein Teil des Vereins wieder belebt, der mindestens genauso wichtig für den Verein
        ist wie das Sportliche – und zwar das Soziale. Events sollten wieder vermehrt veranstaltet
        werden, die nicht nur den Spielern Freude bereiten sollte, sondern allen Freunden
        des SAK. So wurde eigens eine Position im Vereinsmanagement geschaffen, die sich
        um Events abseits des Fußballsports kümmern soll. Die ersten organisierten Aktivitäten
        wie Radausflüge, Hochseilklettern, Kartrennen, Paintball, Bowling und Kabarett wurden
        vom neuen Event-Manager zur vollsten Zufriedenheit aller Mitglieder und Fans des
        SAK´s organisiert. Durch diese Maßnahme wurde ein wichtiger Punkt, der zur Gründung
        unseres Vereins festgelegt wurde wieder belebt, nämlich die Festigung der Freundschaften
        unter den Mitgliedern und das Verbringen von gemeinsamen Aktivitäten abseits des
        Fußballplatzes.</p>
    <h2>
        9.) Aus Kleinfeldmeisterschaft wird Kleinfeldliga</h2>
    <p>
        Wir wussten, dass eine zweite Freiluftsaison ohne Meisterschaft für uns nicht infrage
        kommt, daher wurde früh im Jahr 2008 begonnen, sich in der Hobbyfußballszene umzuhören.
        Da wir in unserer 3-jährigen Vereinsgeschichte schon einige Kontakte geknüpft hatten,
        wurden wir schnell auf eine bereits seit dem Jahr 2007 bestehende Meisterschaft
        aufmerksam. Diese wird von einem Veranstalter organisiert, den wir bereits zu Beginn
        der SAK - Ära kennen gelernt hatten und daher auch wussten, dass es eine gut organisierte
        und vor allem verlässliche Meisterschaft sein wird. Neben dem Veranstalter änderte
        sich auch der Modus, da es bei dieser Kleinfeldmeisterschaft zwei Ligen mit je 10
        Mannschaften gibt. Außerdem fand diesmal nur ein Match pro Spieltag statt. Als Neueinsteiger
        begannen wir am 14.09.2008 unsere zweite Meisterschaft und stiegen in der Unterliga
        ein. Als Ziel wurde der Aufstieg, also minimal Platz 2 ausgerufen. Unsere Vorbereitung
        auf die im September beginnende Meisterschaft wurden hauptsächlich mit Freundschaftsspielen
        gegen Mannschaften der Kleinfeldliga verbracht, um erste Einschätzungen zum Kräfteverhältnis
        tätigen zu können. Unser einziges Turnier im Sommer 2008 hatten wir in Bruck/Leitha,
        bei einem perfekt organisierten Turnier absolviert. Leider ohne sportlichen Erfolg,
        da nach glücklosen Auftritten in der ersten KO-Runde für uns Schluss war. Trotzdem
        starteten wir voller Hoffnung in unsere neue Aufgabe, den Aufstieg in die Kaiserliga!
    </p>

        
